/* ==== STYLE RESET ==== */

* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
	text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
	  height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    overflow-y: auto;
    font-family: 'Raleway';
}
img,
picture {
    width: 100%; /* Works better when inside a div */
}

/* ==================== */



h1 {
    text-align: center;
}

.library {
    border: 2px solid gray;
    display: grid;
    
}