/* ==== STYLE RESET ==== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
	  height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    overflow-y: auto;
    font-family: 'Raleway';
}
img,
picture {
    width: 100%; /* Works better when inside a div */
}

/* ==================== */



h1 {
    text-align: center;
    margin: 2rem;
}

.library {
    border: 2px solid gray;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    margin: 0 1rem;
    padding: 1rem;
    gap: .5rem;
}

.book {
    border: 1px solid lightslategray;
    padding: 1rem;
}

.book > * {
    margin: 1rem;
}

